    <!-- Logo -->
    <a href="{{ url('store_homepage') }}" class="logo non-ajax">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Selec</b>Mática</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">  {{ render(url('store_name')) }}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <div class=" ">

        <a href="#" class="sidebar-toggle non-ajax" data-toggle="offcanvas" role="button">
            <span class="sr-only"></span>
        </a></div>
        <div class="navbar-custom-menu">
            <ul  class="nav navbar-nav ">
                <!-- Messages: style can be found in dropdown.less-->
                <li id="cart-container" class="dropdown messages-menu">
                {{ render(url('cart_nav')) }}
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
               {{ render(url('seguridad_nav')) }}
                <!-- Control Sidebar Toggle Button -->
                </li>
 {{ render(url('language_nav')) }}

            </ul>
        </div>
    </nav>
