<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/AdminLTE.min.css') }}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/bootstrap3-wysihtml5.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/skins/_all-skins.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/adminbundle/css/pace.min.css') }}">
	<title>SelectMatica</title>
    <![endif]-->
</head>
<body>
{% block content %}


{% endblock %}
</body>
</html>
