{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SeguridadSalvas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comentario }}</td>
            </tr>
            <tr>
                <th>Fechasalva</th>
                <td>{{ entity.fechaSalva|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nombrefichero</th>
                <td>{{ entity.nombreFichero }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('seguridadsalvas') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
