{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Languages</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Locale</th>
                <td>{{ entity.locale }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('languages') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('languages_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
