{% set lineObject = line.vars.data %}
{% set producto = lineObject.idproducto %}

<tr id="row{{ lineObject.id }}" class="cart-line">
    <td style="width: 20%;">
        <img src="{{base_dir  ~  producto.principalimage.webpath() }}">
    </td>
    <td>
        {{ producto.producto.id }}
    </td>
    <td>
        {{ producto.producto.nombre }}</td>
    <td>
        {% set tarifav = producto.producto.TarifaValue(tarifa) %}
        {{ tarifav.pvp|number_format(3,',','.') }}€ </td>
    <td  style="width:30px;">  {{ form_row(line.cantidad) }}</td>
    <td id="disc_{{ lineObject.id }}">{{ producto.producto.getDiscountValue(tarifa,lineObject.cantidad,false)|number_format(3,',','.') }}€ </td>

    {% if producto.producto.preciosespeciales|length>0 %}
        {% set precios = producto.producto.preciosespeciales[0] %}
        {% if precios.ArticuloRegaloObject!=null and precios.regaloObject.cantidadMinima>0  %}

            <td id="gift_{{ lineObject.id }}"> {{ precios.regalocant(lineObject.cantidad) }}</td>
            <td>  {{ precios.ArticuloRegaloObject.descripcion }}</td>

            {% else %}
                <td></td>
                <td></td>
        {% endif %}
    {% else %}
        <td></td>
        <td></td>
    {% endif %}

    <td> <p  id="price_{{ lineObject.id }}"> {{ lineObject.Price(tarifa)|number_format(3,',','.') }}€</p> </td>
    <td class="price_row">

        <p id="total_{{ lineObject.id }}"> {{ lineObject.FinalPrice(tarifa)|number_format(3,',','.') }}€</p>

                <p style="" id="total_iva_{{ lineObject.id }}">{{ lineObject.IVAValue(tarifa)|number_format(3,',','.') }}€</p>

              <p style="font-weight: bold" id="total_price_{{ lineObject.id }}">{{ lineObject.FinalPriceIVA(tarifa)|number_format(3,',','.') }}€</p>

    </td>
    <td>          <a href="{{ url('cartline_remove',{id: lineObject.id }) }}" class="fa remove button cart-gest"><i class="fa fa-fw fa-remove"></i></a></div>

    </td>
</tr>





<script>

    var edit{{ lineObject.id }} =$('#row{{ lineObject.id }} td input')[0];
    edit{{ lineObject.id }}.onchange=onclickitem{{ lineObject.id }};
    {{ producto.producto.scriptcalc(tarifa)|raw }}

    {% if producto.producto.preciosespeciales|length>0 %}
    {{ producto.producto.preciosespeciales[0].RegaloScript(producto.producto.id)|raw }}
    {% endif %}
    function onclickitem{{ lineObject.id }}(Sender)
    {


    var p =      getPrice_{{ producto.producto.id }}(edit{{ lineObject.id }}.value);
        var c= p*edit{{ lineObject.id }}.value;
       var t =  roundToTwo(p ).toString();
        var tot =c;

        price_{{ lineObject.id }}.innerHTML=t+'€';
        total_{{ lineObject.id }}.innerHTML=roundToTwo(tot)+'€';

        disc_{{ lineObject.id }}.innerHTML=roundToTwo(getDesc_{{ producto.producto.id }}(false,edit{{ lineObject.id }}.value))+'€';
        try
        {   $(total_{{ lineObject.id }}).attr('value',tot);

        }catch (e){}
    var t2 =  (getPriceIVA_{{ producto.producto.id }}(edit{{ lineObject.id }}.value) ).toString();
     var   tot2 =t2*c/100;
        total_iva_{{ lineObject.id }}.innerHTML=roundToTwo(tot2)+'€';
        total_price_{{ lineObject.id }}.innerHTML=roundToTwo(tot+tot2)+'€';
        {% if producto.producto.preciosespeciales|length>0 %}
        {% if producto.producto.preciosespeciales[0].regaloobject.cantidadMinima>0 %}
        gift_{{ lineObject.id }}.innerHTML = getRegalo_{{ producto.producto.id }}Cantidad(edit{{ lineObject.id }}.value).toString();
        {% endif %}  {% endif %}
        try{
            updateTotal();
        }catch (e){}


    }

  onclickitem{{ lineObject.id }}(null);

</script>