{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Facturas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcliente</th>
                <td>{{ entity.idcliente }}</td>
            </tr>
            <tr>
                <th>Serie</th>
                <td>{{ entity.serie }}</td>
            </tr>
            <tr>
                <th>Ano</th>
                <td>{{ entity.ano }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ entity.importe }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ entity.file }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('facturas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('facturas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
