{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SeguridadTraza</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Accion</th>
                <td>{{ entity.accion }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <th>Tabla</th>
                <td>{{ entity.tabla }}</td>
            </tr>
            <tr>
                <th>Idregistro</th>
                <td>{{ entity.idregistro }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ entity.observacion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Metadatos</th>
                <td>{{ entity.metadatos }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('traza') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
